﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="geo">
<head>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/app/app.js"></script>
    <title>Geo Country List</title>
</head>
<body>
    {{'intialised...'}}
    <div ng-controller="countryCtrl">
        <ul ng-repeat="country in allCountries">
            <li>{{country.CountryName}}</li>
        </ul>
        {{data.error}}
    </div>
</body>
</html>
